<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor\autoload.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Application Test Suite">
            <!-- Nơi mã nguồn test được đặt và khi chạy nó chỉ chạy các file có kết thúc bằng Test.php -->
            <directory suffix="Test.php">./tests/Controllers/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <!-- Nơi chứa mã nguồn cần test và chỉ test file có kết thúc bằng .php -->
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>

    <!-- Đầu ra ghi lại log -->
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>